  <div class="map-container" style="width: 100%;height: 100%;overflow: hidden;">

    <div id="origin-pin-map" style="position: fixed;background-color: red;color: white;border-radius: 20px;width: 40px;text-align:center;padding:5px;height:40px;">
      <i class="bi bi-geo-alt" style="font-size: 20px;"></i>
      <p style="color: black;position: absolute;bottom: 30px;font-size: 1rem;font-weight: 500;background-color: white;left: -10px;border-radius: 10px;padding: 5px;box-shadow: 0px 0px 5px -2px;">Origen</p>
    </div>
    <div id="destination-pin-map" style="position: fixed;background-color: red;color: white;border-radius: 20px;width: 40px;text-align:center;padding:5px;height:40px;">
      <i class="bi bi-geo-alt" style="font-size: 20px;"></i>
      
      <p style="color: black;position: absolute;bottom: 30px;font-size: 1rem;font-weight: 500;background-color: white;left: -10px;border-radius: 10px;padding: 5px;box-shadow: 0px 0px 5px -2px;">Destino</p>
    </div>
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63626.07098829197!2d-74.13713315480068!3d4.659987963264116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses!2sco!4v1643800585662!5m2!1ses!2sco"
     height="100%" style="border:0;" allowfullscreen="true" loading="lazy" width="100%" ></iframe>

  </div>
  