<!-- SIDEBAR DESKTOP -->
<div (click)="sidebarCollapse()" class="hamburguer"><i class="bi bi-list"></i></div>
<div [ngClass]="{'menu-visible':sidebarExpanded === true}" class="list1 d-flex flex-column flex-shrink-0 p-0 bg-light vh-100 hide" style="width: 100%;">
  <a href="/" class=" align-items-center  link-dark text-decoration-none">
    <img src="../../../assets/logos/miaguila.svg" alt="">
    <hr>
    <span class="fs-4"></span>

    <div class="d-flex flex-column align-items-center">
      <img class="mb-3" src="../../../assets/logos/user.png" alt="">
      <p class="mb-0">Jorge Solano</p>
      <p class="mb-0 text-black-50">Beneficiario</p>
    </div>
  </a>
  <hr>
  <ul class="flex-column mb-auto nav-pills navbar-nav ">
    <li class="nav-item flex-fill">
      <a class="nav-link" routerLink="entregas/nueva-entrega" routerLinkActive="active"  aria-current="page">
       <img class="rounded-circle" src="../../../assets/logos/logo_miaguila_pedir.png" style="height: 30px;width: 30px;" alt="">
        Pedir Aguila
      </a>
    </li>
    <li class="nav-item flex-fill">
      <a  class="nav-link" routerLink="entregas/vuelos" routerLinkActive="active">
        <i class="bi bi-geo-alt"></i>
        Vuelos
      </a>
    </li>
    <li class="nav-item flex-fill">
      <a class="nav-link" routerLink="entregas/rutas" routerLinkActive="active">
        <i class="bi bi-pin-map"></i>
        Rutas
      </a>
    </li>
    <li class="nav-item flex-fill">
      <a  class="nav-link" routerLink="entregas/administrar" routerLinkActive="active">
        <i class="bi bi-gear"></i>
        Administrar
      </a>
    </li>
    <li class="nav-item flex-fill" >
      <a class="nav-link" routerLink="entregas/estadisticas" routerLinkActive="active">
        <i class="bi bi-bar-chart-line"></i>
        Estadisticas
      </a>
    </li>
    <li class="nav-item flex-fill" >
      <a class="nav-link" routerLink="entregas/medios-de-pago" routerLinkActive="active">
        <i class="bi bi-credit-card"></i>
        Medios de Pago
      </a>
    </li>
    <li class="nav-item flex-fill">
      <a  class="nav-link link-dark">
        <i class="bi bi-box-arrow-right"></i>
        Cerrar Sesión
      </a>
    </li>
  </ul>
  <hr>
 
</div>
<!-- SIDEBAR MOBILE -->
